<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="RecargasElectronicasConfig" type="Ejemplos.CustomConfiguration.RecargaElectronicaSection, Ejemplos.CustomConfiguration" />
  </configSections>
  <RecargasElectronicasConfig>
    <RecargaElectronicaConfig>
      <Codigo>112233</Codigo>
      <Proveedor>CLARO</Proveedor>
      <CodigoConvenio>1</CodigoConvenio>
      <IdEmpresa>1</IdEmpresa>
      <IdServicio>1</IdServicio>
      <IdCriterioBusqueda>1</IdCriterioBusqueda>
      <Reintentos>2</Reintentos>
    </RecargaElectronicaConfig>
    <RecargaElectronicaConfig>
      <Codigo>445566</Codigo>
      <Proveedor>TIGO</Proveedor>
      <CodigoConvenio>1</CodigoConvenio>
      <IdEmpresa>1</IdEmpresa>
      <IdServicio>1</IdServicio>
      <IdCriterioBusqueda>1</IdCriterioBusqueda>
      <Reintentos>1</Reintentos>
    </RecargaElectronicaConfig>
  </RecargasElectronicasConfig>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
</configuration>