<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework"
      type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
      requirePermission="false"/>
    <section name="oracle.manageddataaccess.client"
      type="OracleInternal.Common.ODPMSectionHandler, Oracle.ManagedDataAccess, Version=4.122.18.3, Culture=neutral, PublicKeyToken=89b483f429c47342"/>
    <section name="RecargasElectronicasConfig" type="BarraDeEspera.RecargasElectronicasSection, BarraDeEspera" /> 
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
  </startup>
  <RecargasElectronicasConfig>
    <RecargaElectronicaConfig>
      <Codigo>112233</Codigo>
      <Proveedor>CLARO</Proveedor>
      <CodigoConvenio>1</CodigoConvenio>
      <IdEmpresa>1</IdEmpresa>
      <IdServicio>1</IdServicio>
      <IdCriterioBusqueda>1</IdCriterioBusqueda>
      <Reintentos>2</Reintentos>
    </RecargaElectronicaConfig>
    <RecargaElectronicaConfig>
      <Codigo>445566</Codigo>
      <Proveedor>TIGO</Proveedor>
      <CodigoConvenio>1</CodigoConvenio>
      <IdEmpresa>1</IdEmpresa>
      <IdServicio>1</IdServicio>
      <IdCriterioBusqueda>1</IdCriterioBusqueda>
      <Reintentos>1</Reintentos>
    </RecargaElectronicaConfig>
  </RecargasElectronicasConfig>
  <appSettings>
    <!--OEE COMPOSER-->
    <add key="OEE_CONNECTION_NAME" value="ConnectionString"/>
    <add key="OEE_MODEL_STRUCTURE" value="metadata=datadir\metadata\;provider=Oracle.ManagedDataAccess.Client;"/>
    <add key="SQL_XML_PATH" value="~\Queries.xml"/>
    <add key="FREEWAY_CN_STRING" value="user id=qcs;data source=oracle9i;password=qcs"/>
    <add key="FREEWAY_CN_TYPE" value="ORACLE"/>
    <add key="UPDATE_FREEWAY" value="UPDATE TBLMAKERLIST_REAL SET BrandID='{0}' WHERE MakerID='{1}'"/>
    <add key="VIDEK_CONNECTION" value="user id=videk;data source=LEGATUM2;password=v1d3k"/>
    <add key="EXLi.TempDir" value="~\Temp"/>
    <add key="SISTEMA" value="PITSMD"/>
    <add key="EMPRESA" value="1"/>
    <add key="EXLi.UseSingletonConnection" value="false"/>
    <add key="EXLI.ApplicationConnection" value="ConnectionString"/>
    <add key="EXLI.ResourceType" value="DataBase"/>
    <add key="EXLI.ResourceConnection" value="ConnectionString"/>
    <add key="SMTPPort" value="25"/>
    <add key="SMTPHost" value="smtp.google.com"/>
    <add key="SMTPUseSSL" value="true"/>
    <add key="SMTPUser" value="test"/>
    <add key="SMTPPassword" value="test"/>
  </appSettings>
  <connectionStrings>
    <!--Entity-->
    <add name="TAHSAXEConnectionString" connectionString="Data Source=XE;Persist Security Info=True; User ID=pitsmdhn;Password=pitsmdhn;"
      providerName="Oracle.ManagedDataAccess.Client"/>
    <add name="TAHSAConnectionString" connectionString="Data Source=GLORA11;Persist Security Info=True; User ID=pitsmd;Password=pitsmd;"
      providerName="Oracle.ManagedDataAccess.Client"/>
    <add name="WITCOConnectionString" connectionString="Data Source=GLORA11;Persist Security Info=True; User ID=pitsmdtt;Password=pitsmdtt;"
      providerName="Oracle.ManagedDataAccess.Client"/>
    <add name="BIGOTTConnectionString" connectionString="Data Source=GLORA11;Persist Security Info=True; User ID=pitsmdve;Password=pitsmdve;"
      providerName="Oracle.ManagedDataAccess.Client"/>
    <add name="ConnectionString" connectionString="Data Source=GLORA11;Persist Security Info=True; User ID=pitsmd;Password=pitsmd;"
      providerName="Oracle.ManagedDataAccess.Client"/>
    <!--<add name="ConnectionString" connectionString="Data Source=GLORA11;Persist Security Info=True; User ID=pitsmd;Password=pitsmd;" providerName="Oracle.ManagedDataAccess.Client" />-->
    <add name="ResourceConnectionString" connectionString="data source=|DataDirectory|\resources.db;Synchronous=Off" providerName="System.Data.SQLite"/>
    <add name="log4netConnection" connectionString="data source=|DataDirectory|\log4net.db;Synchronous=Off" providerName="System.Data.SQLite"/>
    <add name="OracleDbContext" providerName="Oracle.ManagedDataAccess.Client"
      connectionString="User Id=oracle_user;Password=oracle_user_password;Data Source=oracle"/>
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v13.0"/>
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
      <provider invariantName="Oracle.ManagedDataAccess.Client"
        type="Oracle.ManagedDataAccess.EntityFramework.EFOracleProviderServices, Oracle.ManagedDataAccess.EntityFramework, Version=6.122.18.3, Culture=neutral, PublicKeyToken=89b483f429c47342"/>
    </providers>
  </entityFramework>
  <system.data>
    <DbProviderFactories>
      <remove invariant="Oracle.ManagedDataAccess.Client"/>
      <add name="ODP.NET, Managed Driver" invariant="Oracle.ManagedDataAccess.Client" description="Oracle Data Provider for .NET, Managed Driver"
        type="Oracle.ManagedDataAccess.Client.OracleClientFactory, Oracle.ManagedDataAccess, Version=4.122.18.3, Culture=neutral, PublicKeyToken=89b483f429c47342"/>
    </DbProviderFactories>
  </system.data>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <publisherPolicy apply="no"/>
        <assemblyIdentity name="Oracle.ManagedDataAccess" publicKeyToken="89b483f429c47342" culture="neutral"/>
        <bindingRedirect oldVersion="4.122.0.0 - 4.65535.65535.65535" newVersion="4.122.18.3"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <oracle.manageddataaccess.client>
    <version number="*">
      <dataSources>
        <dataSource alias="SampleDataSource" descriptor="(DESCRIPTION=(ADDRESS=(PROTOCOL=tcp)(HOST=localhost)(PORT=1521))(CONNECT_DATA=(SERVICE_NAME=ORCL))) "/>
      </dataSources>
    </version>
  </oracle.manageddataaccess.client>
</configuration>