USE [master]
GO
/****** Object:  Database [Test]    Script Date: 07/07/2015 07:16:34 p.m. ******/
CREATE DATABASE [Test]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Test', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\Test.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'Test_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\Test_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Test].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Test]
GO
/****** Object:  Table [dbo].[Adjunto]    Script Date: 07/07/2015 07:16:34 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Adjunto](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[Alumno_id] [int] NOT NULL,
	[Archivo] [varchar](200) NOT NULL,
 CONSTRAINT [PK_Adjunto] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Alumno]    Script Date: 07/07/2015 07:16:34 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Alumno](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](50) NOT NULL,
	[Apellido] [varchar](100) NOT NULL,
 CONSTRAINT [PK_Alumno] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[AlumnoCurso]    Script Date: 07/07/2015 07:16:34 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AlumnoCurso](
	[Alumno_id] [int] NOT NULL,
	[Curso_id] [int] NOT NULL,
 CONSTRAINT [PK_AlumnoCurso] PRIMARY KEY CLUSTERED 
(
	[Alumno_id] ASC,
	[Curso_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Curso]    Script Date: 07/07/2015 07:16:34 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Curso](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](100) NOT NULL,
 CONSTRAINT [PK_Curso] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[Adjunto] ON 

INSERT [dbo].[Adjunto] ([id], [Alumno_id], [Archivo]) VALUES (1, 2004, N'abc.jpg')
INSERT [dbo].[Adjunto] ([id], [Alumno_id], [Archivo]) VALUES (2, 2004, N'20150707185512.xlsx')
INSERT [dbo].[Adjunto] ([id], [Alumno_id], [Archivo]) VALUES (3, 2004, N'20150707190840.xlsx')
SET IDENTITY_INSERT [dbo].[Adjunto] OFF
SET IDENTITY_INSERT [dbo].[Alumno] ON 

INSERT [dbo].[Alumno] ([id], [Nombre], [Apellido]) VALUES (2004, N'Eduardo', N'Rodriguez Patiño')
SET IDENTITY_INSERT [dbo].[Alumno] OFF
INSERT [dbo].[AlumnoCurso] ([Alumno_id], [Curso_id]) VALUES (2004, 1)
INSERT [dbo].[AlumnoCurso] ([Alumno_id], [Curso_id]) VALUES (2004, 2)
INSERT [dbo].[AlumnoCurso] ([Alumno_id], [Curso_id]) VALUES (2004, 3)
SET IDENTITY_INSERT [dbo].[Curso] ON 

INSERT [dbo].[Curso] ([id], [Nombre]) VALUES (1, N'ASP.NET MVC')
INSERT [dbo].[Curso] ([id], [Nombre]) VALUES (2, N'Angular JS')
INSERT [dbo].[Curso] ([id], [Nombre]) VALUES (3, N'jQuery')
SET IDENTITY_INSERT [dbo].[Curso] OFF
ALTER TABLE [dbo].[Adjunto]  WITH CHECK ADD  CONSTRAINT [FK_Adjunto_Alumno] FOREIGN KEY([Alumno_id])
REFERENCES [dbo].[Alumno] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Adjunto] CHECK CONSTRAINT [FK_Adjunto_Alumno]
GO
ALTER TABLE [dbo].[AlumnoCurso]  WITH CHECK ADD  CONSTRAINT [FK_AlumnoCurso_Alumno] FOREIGN KEY([Alumno_id])
REFERENCES [dbo].[Alumno] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AlumnoCurso] CHECK CONSTRAINT [FK_AlumnoCurso_Alumno]
GO
ALTER TABLE [dbo].[AlumnoCurso]  WITH CHECK ADD  CONSTRAINT [FK_AlumnoCurso_Curso] FOREIGN KEY([Curso_id])
REFERENCES [dbo].[Curso] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AlumnoCurso] CHECK CONSTRAINT [FK_AlumnoCurso_Curso]
GO
USE [master]
GO
