<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>
  <startup>
    <supportedRuntime version="v2.0.50727"/>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0,Profile=Client"/>
  </startup>
  <connectionStrings>
    <add name="Settings.NwindConnectionString" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\DataSources\Nwind.mdb;Persist Security Info=True"
      providerName="System.Data.OleDb" />
    <add name="Settings.MusicCollectionConnectionString" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\DataSources\MusicCollection.mdb;Persist Security Info=True"
      providerName="System.Data.OleDb" />
    <add name="Settings.FurnitureConnectionString2" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\DataSources\Furniture.mdb"
      providerName="System.Data.OleDb" />
    <add name="Settings.FurnitureConnectionString1" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\DataSources\Furniture.mdb"
      providerName="System.Data.OleDb" />
    <add name="Settings.ChartConnectionString" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\DataSources\Chart.mdb;Persist Security Info=True"
      providerName="System.Data.OleDb" />
    <add name="Settings.SchedulerDataConnectionString" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\DataSources\SchedulerData.mdb"
      providerName="System.Data.OleDb" />
    <add name="Settings.SchedulerDragAndDropDataConnectionString"
      connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=..\DataSources\SchedulerDragAndDropData.mdb"
      providerName="System.Data.OleDb" />
    <add name="Settings.AdventureLT2008ConnectionString" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=..\DataSources\AdventureLT2008.mdb"
      providerName="System.Data.OleDb" />
    <add name="Settings.ChinookConnectionString" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=..\DataSources\Chinook.mdb"
      providerName="System.Data.OleDb" />
    <add name="Telerik.Examples.WinControls.Properties.Settings.NwindConnectionString"
      connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=..\DataSources\Nwind.mdb;Persist Security Info=True"
      providerName="System.Data.OleDb" />
    <add name="Telerik.Examples.WinControls.Properties.Settings.MusicCollectionConnectionString"
      connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=..\DataSources\MusicCollection.mdb;Persist Security Info=True"
      providerName="System.Data.OleDb" />
    <add name="Telerik.Examples.WinControls.Properties.Settings.FurnitureConnectionString2"
      connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=..\DataSources\Furniture.mdb"
      providerName="System.Data.OleDb" />
    <add name="Telerik.Examples.WinControls.Properties.Settings.FurnitureConnectionString1"
      connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=..\DataSources\Furniture.mdb"
      providerName="System.Data.OleDb" />
    <add name="Telerik.Examples.WinControls.Properties.Settings.ChartConnectionString"
      connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=..\DataSources\Chart.mdb;Persist Security Info=True"
      providerName="System.Data.OleDb" />
    <add name="Telerik.Examples.WinControls.Properties.Settings.SchedulerDataConnectionString"
      connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=..\DataSources\SchedulerData.mdb"
      providerName="System.Data.OleDb" />
    <add name="Telerik.Examples.WinControls.Properties.Settings.SchedulerDragAndDropDataConnectionString"
      connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=..\DataSources\SchedulerDragAndDropData.mdb"
      providerName="System.Data.OleDb" />
    <add name="Telerik.Examples.WinControls.Properties.Settings.AdventureLT2008ConnectionString"
      connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=..\DataSources\AdventureLT2008.mdb"
      providerName="System.Data.OleDb" />
    <add name="Telerik.Examples.WinControls.Properties.Settings.ChinookConnectionString"
      connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=..\DataSources\Chinook.mdb"
      providerName="System.Data.OleDb" />
    <add name="Telerik.Examples.WinControls.Properties.Settings.MusicCollectionConnectionString1"
      connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=..\DataSources\MusicCollection.mdb"
      providerName="System.Data.OleDb" />
    <add name="Telerik.Examples.WinControls.Properties.Settings.SofiaCarRentalConnectionString"
      connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=..\DataSources\SofiaCarRental.mdb"
      providerName="System.Data.OleDb" />
    <add name="Settings.SofiaCarRentalConnectionString" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=..\DataSources\SofiaCarRental.mdb" />
    <add name="Settings.inventoryConnectionString" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\GridFirstLook\inventory.mdb"
      providerName="System.Data.OleDb" />
    <add name="Settings.FurnitureConnectionString" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\GridFirstLook\Furniture.mdb"
      providerName="System.Data.OleDb" />
    <add name="Telerik.Examples.WinControls.Properties.Settings.ChartViewConnectionString"
      connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\ChartView.mdb"
      providerName="System.Data.OleDb" />
    <add name="Telerik.Examples.WinControls.Properties.Settings.ChartViewConnectionString1"
      connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\DataSources\ChartView.mdb"
      providerName="System.Data.OleDb" />
  </connectionStrings>
</configuration>
